*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# SAM
.aws-sam
sam/env.json

!lambda/*.js

# Scraper build
scraper/.venv
scraper/deployment-package.zip

.env
